<h1><%= @post.title %>の編集</h1>
<%= render 'form', post: @post %>
<td><%= link_to 'Post_destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
<%= link_to 'Back', posts_path, class: "back" %>