<h1><%= @post.title %>の編集</h1>
<%= render 'form', post: @post %>
<td><%= link_to '投稿を削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
<%= link_to '戻る', posts_path, class: "back" %>