<%= render 'index',posts: @posts %>
<%= paginate @posts %>
<!-- タグリスト -->
<div class="d-flex justify-content-center flex-wrap" style="font-size: 18px;">
  <i class="fas fa-tag mr-2"></i>
  <% @tag_list.each do |list| %>
    <!--tagが使われていなければ表示しない-->
    <% if list.posts.count > 0 %>
      <span class="badge badge-primary mr-2 mb-2">
        <%= link_to list.name, search_tag_path(tag_id: list.id), style: "color: white;" %> (<%= list.posts.count %>)
      </span>
    <% end %>
  <% end %>
</div>
