<footer style="background-color: #333333; padding: 3px 0;">
  <div class='container mt-5'>
  	<div class='row'>
    	<div class='col text-center'>
    		<p>Copyright © 2024 PConect All Rights Reserved.c</p>
    	</div>
    </div>
  </div>
</footer>
